AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: 'true'
BreakBeforeBraces: Attach
ColumnLimit: '0'
CommentPragmas: '0'
IndentWidth: '3'
SortIncludes: 'true'
SpaceBeforeParens: Never